# --- Python Basics ---
__pycache__/
*.py[cod]
*$py.class

# --- Virtual Environments ---
.venv/
env/
venv/
ENV/

# --- Distribution / Build ---
build/
dist/
*.egg-info/

# --- Testing & Coverage ---
.coverage
htmlcov/
.pytest_cache/

# --- Project Specifics ---
*.db
*.sqlite
*.sqlite3

# Logs
*.log
logs/

# --- IDE & OS ---
.idea/
.vscode/
*.swp
.DS_Store

# --- Docker ---
docker_data/

