name: FLC CD Pipeline

on: 
  push:
    branches: [ "main", "master" ]

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: true
jobs:
# JOB 2: Build & Push to Docker Hub
  docker-build-push:
    name: Build & Push Docker Image
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and Push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile
          push: true # ORA PUSHIAMO!
          # Taggiamo sia come "latest" che con l'hash del commit per versioning
          tags: |
            ${{ secrets.DOCKERHUB_USERNAME }}/federated-lightweight-chat:latest
            ${{ secrets.DOCKERHUB_USERNAME }}/federated-lightweight-chat:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

