name: FLC CI Pipeline

on:
  push:
    branches: [ "main", "master", "develop" ]
  pull_request:
    branches: [ "main", "master", "develop" ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:

  # JOB 1: Executes Linting and Unit & Integration Tests
  tests:
    name: Run Pylint & Pytest
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # Cache Poetry Dependencies (Velocizza le run successive)
      - name: Install Poetry
        run: |
          curl -sSL https://install.python-poetry.org | python3 -
          echo "$HOME/.local/bin" >> $GITHUB_PATH

      - name: Install Dependencies
        run: poetry install --no-interaction --no-root

      - name: Run Pylint
        run: poetry run pylint --output-format=colorized --max-line-length=110 src tests

      - name: Run Tests with Coverage
        run: poetry run pytest -vv --color=yes


  

